<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
  <div class="container">
    <div class="row">
      <h1>Gestor de Clientes</h1>
    </div>
    <br>
    <div class="row">
      <button on-click="obtenerClientes" class="btn btn-success"type="button" name="button">Obtener clientes</button>
      <button on-click="insertarClientes" class="btn btn-warning"type="button" name="button">Insertar clientes</button>
    </div>
    <div class="row">
      <table class="table table-striped">
        <tbody>
          <template is="dom-repeat" items={{clientes}}>
            <tr>
              <td>
                [[item.CustomerID]]
              </td>
              <td>
                [[item.ContactName]]
              </td>
              <td>
                [[item.CompanyName]]
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify:true//,
            //value: 'demopolymer-app'
          }
        };
      }
      obtenerClientes(){
        var request = new XMLHttpRequest();
        request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();

        this.clientes = JSON.parse(request.responseText).value;
        //console.log(this.clientes);
        console.table(this.clientes);
      }
      insertarClientes(){
        var request = new XMLHttpRequest();
        request.open("POST","https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");

        var nuevoCliente = {"CustomerId":"12345","ContactName":"Vanessita", "CompanyName":"AT&T"};
        var body = JSON.stringify(nuevoCliente);

        request.send(body);

        this.respuesta = request.responseText;
        console.log(this.respuesta);

      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
