
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
  <div class="container">
    <div class="row">
      <img src="https://image.flaticon.com/icons/svg/874/874983.svg" alt="">
    </div>
      <div class="row">
          <button on-click="incrementar" class="btn btn-success"type="button" name="button">Cargar datos</button>
          <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}">
          <input type="text" value="[[prop1]]">
      </div>
      <div class="row">
          <table class= "table table-striped col-lg-12 col-xs-12">
            <thead>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>
            </thead>
            <tbody>
              <tr>
                <td>[[prop2]]</td>
                <td>Dolores</td>
                <td>Fuertes</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Elena</td>
                <td>Nito</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String//,
            //value: 'demopolymer-app'
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type:String,
            value:'Indique su usuario'
          }
        };
      }
      incrementar(){
        this.prop2 = this.prop2 + 1;
        console.log("prop1" + this.prop1)
        console.log("prop2" + this.prop2)
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
